@use "../../components/mixin.scss";

.admin {
    &_user {
        display: grid;
        gap: .5em;
        grid-template-columns: repeat(auto-fit, minmax(18em, auto));
        padding: .5em;

        &_users {
            display: grid;
            gap: .35em;
            grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
            grid-template-rows: repeat(auto-fit, 4em);
    
            &_option {
                cursor: pointer;
                height: 4em;
    
                &_content {
                    --sub-color: #888;
                    background: #fff;
                    box-shadow: 1px 1px 3px #333;
                    display: grid;
                    flex-grow: 1;
                    grid-template-columns: 2em 1fr 2em;
                    height: 100%;
                    padding: .2em .35em;
                    transition: all .2s;
    
                    &.checked {
                        --sub-color: #fff;
                        background: rgba(240, 34, 92, 1);
                        color: #fff;
                    }
    
                    &_icon{
                        > * {
                            width: 100%;
                            height: 100%;
                        }
                    }
    
                    &_group {
                        align-items: center;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 0 .5em;
    
                        &_label {
                            font-size: 1.1em;
                            font-weight: bold;
                            width: 100%;
                        }
                        &_desc {
                            color: var(--sub-color);
                            font-size: .9em;
                        }
                    }
                }
            }
        }
        &_panel {
            background: #fff;
            box-shadow: 1px 1px 3px #333;
            min-height: 1em;
            padding: .5em;

            button.button {
                @include mixin.button;
            }

            > button.simple.close {
                --size: 2.5em;
                display: flex;
                height: var(--size);
                width: var(--size);

                > * {
                    height: 100%;
                    width: 100%;
                }
            }

            &_empty {
                display: flex;
                justify-content: center;
                padding: 3em 0 0;
            }

            &_editor {
                border: 1px solid #888;
                border-radius: .35em;
                margin: .5em 0;
                padding: .75em;

                &_roles {
                    width: 15em;

                    &_input {
                        align-items: center;
                        background: #fff;
                        box-shadow: 1px 1px 3px #333;
                        color: #333;
                        display: flex;
                        transition: all .1s;
                        width: 100%;

                        &:focus-within {
                            outline: var(--main-outline);
                        }

                        &_field {
                            background: transparent;
                            border: none;
                            flex-grow: 1;
                            padding: .5em .75em;
                            transition: all .2s;
                            width: 1em;
                            
                            &:focus {
                                outline: none;
                            }
                            &:disabled {
                                opacity: .7;
                            }
                        }
                        &_button {
                            --size: 1.75em;
                            background: transparent;
                            border: none;
                            height: var(--size);
                            padding: .25em;
                            width: var(--size);
                            
                            &:focus {
                                outline: none;
                            }
                            > * {
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                    &_options {
                        position: relative;

                        &_list {
                            background: #fff;
                            box-shadow: 1px 1px 3px #555;
                            display: flex;
                            flex-direction: column;
                            list-style: none;
                            position: absolute;
                            transform: translateY(100%);
                            bottom: -.2em;
                            width: 100%;

                            &_item {
                                cursor: pointer;
                                display: grid;
                                grid-template-columns: 1fr 2em;
                                transition: all .2s;

                                &.selected {
                                    font-weight: bold;
                                }
                                &.initial {
                                    background: rgba(34, 103, 240, 0.1);
                                }
                                &:hover {
                                    background: rgba(0, 0, 0, .1);
                                }

                                &_label {
                                    align-items: center;
                                    display: flex;
                                    padding: .5em .75em;
                                    user-select: none;

                                }
                                &_icon {
                                    align-items: center;
                                    display: flex;
                                    padding: 0 .5em;
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}