
@use "./mixin.scss";

:root {
    --header-height: 3rem;
}

.header {
    align-items: center;
    background: linear-gradient(mixin.MainGradient(1));
    box-shadow: 0 1px 3px #888;
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    padding: 0 .5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    &_links {
        font-family: var(--fira-mono), Courier, monospace;
        
        > a {
            cursor: pointer;
            margin: .25em;

            &.active {
                font-weight: bold;
            }
        }
    }

    .user_info {
        position: relative;

        &_toggle {
            @include mixin.button;

            &.active::before {
                content: "@";
                font-size: .8em;
                padding: 0 .25em 0 0;
            }
        }
        &_content {
            --content-gap: .35em;
            background: linear-gradient(mixin.MainGradient(.8)), #fff;
            border-radius: 0.3em;
            box-shadow: 0 0 3px #888;
            opacity: 1;
            padding: .75em 1em;
            position: fixed;
            right: .75em;
            text-shadow: 0 0 3px #fff;
            top: calc(var(--header-height) + var(--content-gap));
            transform: none;
            transition: all .2s;

            &.inactive {
                opacity: 0;
                pointer-events: none;
                transform: translateY(calc(-1 * var(--content-gap)));
            }

            button:not(.check_box, .simple) {
                @include mixin.button;

                &.sub {
                    --button-bg: var(--sub-accent);
                }
            }

            &_form {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: center;
                gap: .5em;

                .label {
                    align-items: center;
                    background: #fff;
                    border-radius: .35em;
                    display: flex;
                    padding: .5em;
                    position: relative;
                    transition: all .1s;

                    &:focus-within {
                        outline: var(--main-outline);
                    }
                    &_char {
                        color: #aaa;
                        font-size: .65em;
                        font-weight: bold;
                        padding: 0 .25em;
                        user-select: none;
                    }
                    &_key {
                        display: block;
                        font-weight: bold;
                    }
                    &_value {
                        background: transparent;
                        border: none;
                        flex-grow: 1;
                        font-family: initial;
                        &:focus {
                            outline: none;
                        }
                    }
                    &_error {
                        display: block;
                        font-size: .8em;
                    }
                }

                .check {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    gap: .5em;

                    &_box {
                        --check-height: 1.5em;
                        --check-width: 3em;
                        --check-pad: .1em;
                        align-items: center;
                        background: rgba(0, 0, 0, .1);
                        border: none;
                        border-radius: var(--check-width);
                        display: flex;
                        height: var(--check-height);
                        transition: all .2s ease-in-out;
                        width: var(--check-width);

                        &.checked {
                            background: rgba(0, 0, 0, .3);
                        }

                        &_toggle {
                            background: #fff;
                            border-radius: var(--check-height);
                            box-shadow: 0 0 2px rgba(0, 0, 0, .2);
                            height: calc(var(--check-height) - var(--check-pad));
                            transition: all .2s ease-in-out;
                            width: calc(var(--check-height) - var(--check-pad));

                            &.checked {
                                transform: translateX(calc(var(--check-width) / 2 + var(--check-pad)));
                            }
                        }
                    }

                    &_label {
                        color: #888;
                        flex-grow: 1;
                        text-align: center;
                        
                        > span {
                            font-weight: bold;
                            transition: all .2s;

                            &.bold {
                                color: #333;
                            }
                        }
                    }

                }

                .buttons {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .35em;
                }
            }

            &_table {
                display: grid;
                font-size: .8em;
                grid-template-columns: 7em 1fr;
                row-gap: .5em;

                &_key {
                    font-weight: bold;
                }
                &_wide {
                    display: flex;
                    grid-column: 1 / 3;
                    padding: .75em 0 0;
                }
            }
        }
    }
}