@function MainGradient($opacity) {
    @return to right, rgba(251, 146, 60, $opacity), rgba(219, 39, 119, $opacity)
}

@mixin button {
    --button-bg: var(--main-accent);
    align-items: center;
    background: rgba(var(--button-bg), 0.75);
    border: none;
    border-radius: 0.3em;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-grow: 1;
    font-weight: bold;
    justify-content: center;
    outline: 2px solid transparent;
    padding: .5em .75em;
    text-align: center;
    transition: all .2s;

    &:focus {
        outline-color: transparent;
    }
    &:hover,
    &[aria-expanded="true"] {
        outline-color: #f8f8f8;
    }
}